*.swp
package-lock.json
__pycache__
.pytest_cache
venv
*.egg-info
.service

# CDK asset staging directory
.cdk.staging
cdk.out
.DS_Store

# py4web
databases/
uploads/


# test files
test_unomi.py

# database files
apps/cdp/databases/*.db
apps/cdp/databases/*.log
apps/cdp/databases/*.table